a {
X: 20px
Y: 20px
W: 77px
H: 28px
Corner radius: 3px
X constraint: Left
Y constraint: Top
Fill Color Style: Greyscale/@greyscale-100
Fill: Solid
#FFFFFF
Stroke Color Style: Greyscale/@greyscale-70
Stroke: Solid
#B3B3B3
Align: Inside
Width: 0.5px
}