body {
    margin: 0px;
background-color: #F2F2F2;    
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85em;
color: black;
}

/* Primary Navigation */

.Navbar {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}

.menu {     
}

.Logo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: lightslategray;
}

/* Secondary Navigation */

.mylinks {
   background-color: rgb(238, 238, 238);
   display: flex;
   justify-content: space-evenly;
   text-decoration: none;
   list-style-type: none;
   margin-top: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   border-bottom: 1px solid rgb(220, 224, 230);
   margin-bottom: 0px;

}

.heroimage {
    margin-top: 0px;
    padding-top: 0px;
    max-width: 800px;
}

.herotext {
    margin: 1em 1em 1em 1em;
    display: block;
    padding: 1em 1em 1em 1em;
    background-color:white;
    border: 1px solid lightgray;
    max-width: 50%;
}

.Contentblocks {
    background-color: white;
    margin: 1em 1em 1em 1em;
    border: 1px solid lightgray;
   
}

.article {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 1em 0em 0em;
}

.articleimage {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.articlebody {
    padding-left: 0.5em;
}


a {
    text-decoration: none;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

H1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: darkslategray;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0.1em;
    margin-bottom: 0em;
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 700;
}